/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

/* body {
  background-color: #F9E3E8;
} */

.h-percent-90 {
  height: 90%;
}

:root {
  --violet-dark: #4B49AC;
  --violet-light: #7978E9;
  --violet-light2: #dcd7fd;
  --violet-ultralight: #edebfd;
  --white-medium: #f8f6ff;
  --blue-light: #fafbff;
  --red-light: #F3797E;
  --white-dark: #e8e9f0;
  --white-light: #FFFFFF;
  --gray-light: #757C8B;
  --gray-dark: #232323;
  --green-light: #74A67E;
  --yellow-warning: #F7CC7F;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px var(--violet-dark);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--violet-dark);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--violet-dark);
}

body {
  background-color: var(--violet-light2); 
}

.text-gray-dark {
  color: var(--gray-dark);
}

.text-gray-light {
  color: var(--gray-light)
}

.text-white-light {
  color: var(--white-light);
}

.bg-white-medium {
  background-color: var(--white-medium);
}

.bg-violet-dark {
  background-color: var(--violet-dark);
}

.bg-violet-light {
  background-color: var(--violet-light);
}

.bg-white-dark {
  background-color: var(--white-dark);
}

.bg-white-light {
  background-color: var(--white-light);
}

.bg-blue-light {
  background-color: var(--blue-light);
}

.bg-red-light {
  background-color: var(--red-light);
}

.bg-yellow-warning {
  background-color: var(--yellow-warning);
}

.bg-green-light {
  background-color: var(--green-light);
}

.bg-violet-ultralight {
  background-color: var(--violet-ultralight);
}

.side-menu {
  background-color: var(--white-light);
}

.side-menu-item {
  background-color: var(--white-light);
  color: var(--gray-light);
}

.side-menu-item:hover {
  background-color: var(--white-dark);
  color: var(--gray-dark);
}

.side-menu-item:active {
  background-color: var(--gray-light);
  color: var(--gray-dark);
}

.side-menu-item-selected {
  background-color: var(--violet-dark);
  color: var(--white-light);
}

.card-button-icon-small {
  width: 15px;
  height: 15px;
}

.station-dropdown {
  background-color: var(--violet-light);
  color: var(--white-light);
}

.border-red {
  border: 2px solid red;
}